* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #003d4c;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:underline;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	color: #003d4c;
	font-size: 100%;
}
h2 {
	color: #F6A828;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 190%;
}
h2 a {
	color: #F6A828;
}
h3 {
	color: #1C94C4;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h3 a {
	color: #1C94C4;
	text-decoration: none;
}
h2 a:hover, h3 a:hover, h4 a:hover {
	color: #C77405;
}
h4 {
	color: #F6A828;
	font-weight: normal;
	font-size: 120%;
}
h4 a {
	color: #F6A828;
}
ul, li {
	margin: 0 12px;
}
.status, .state {
	padding: 0.3px 2px 2px 2px;
	border-radius: 4px;
	font-size: 70%;
}
div.statusName div {
	display: inline;
	padding: 0;
}
.details_block {
	font-size: 90%;
}
.details_block .status {
	font-size: 80%;
}
h4.details_block {
	font-size: 120%;
}
select{
	width: 200px;
}
.taskDeadline {
	font-size: 70%;
}
.taskType {
	font-size: 75%;
	color: #644f64;
	font-weight: normal;
}
.taskCreator {
	color: #6c6c6c;
	font-size: 80%;
}
.overdueTasksTitle {
	color: #ff0000;
}
input#ProjectBudget {
	width: 70px;
}
.budget {
	background-color: #d7f0da;
	padding: 2px 15px 2px 15px;
	font-size: 75%;
}
.userType {
	font-size: 80%;
	color: #644f64;
	font-weight: normal;
}
.usersTable {
	width: 80%;
}
.usersTable th {
	font-size: 90%;
}
.usersTable td {
	padding: 6px;
}
td .usersTable .editLink, .usersTable .deleteLink, .editPassword {
	font-size: 75%;
	width: 50px;
}
.editBar {
	font-size: 80%;
	padding: 10px 0 10px 0;
}
.statusBar {
	margin: 5px 0 20px 0;
}
#clientSelect {
	width: auto;
}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 25%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 12px; height: auto; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	
.projects_table {
	width: 399px;
	align:center;
}
#content-wrapper table.projects_table td{	
	vertical-align: middle;
	text-align: center;
	width: 133px;
}
.description {
	border: 1px solid #ccc;
	width: 400px
}
/** Comments **/
div.new_comment {
	margin-top: 15px;
}
div.new_comment, div.new_comment div {
	padding: 0;
}
div.new_comment textarea {
	height: 80px;
	width: 400px;
}
div.comment {
	margin-top: 10px;
	border: 1px solid #ccc;
	width: 400px;
}
.deleteComment {
	font-size: 11px;
	margin-left: 10px;
	color: #d88c8c;
}
h3.comment_title {
	font-size: 16px;
	margin-top: 15px;
}
div.new_comment label {
	color: #1C94C4;
	font-size: 14px;
}
.comment_user {
	color: #afafaf;
	font-size: 11px;
	font-weight: bold;
}
.comment_text {
	height: auto;
	width: 400px;
	padding: 5px;
	font-size: 12px;
}
.comment_time {
	color: #afafaf;
	font-size: 10px;
}

/** Reports **/
#content-wrapper table.sales_funnel_table td {
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
	background: #fff;
}
.reports_title {
	color: #909090;
	margin-bottom: 15px;
	font-size: 12px;
}
#content-wrapper tr.sales_funnel_tableHeader td {
	font-size: 11px;
	font-weight: bold;
}
span.overdueTaskCount, span.clientSourcesCount {
	background-color: #f4d0d2;
	text-align: left;
}
table.overdueTask tr td, table.clientSources tr td{
	padding: 5px 0 5px 0;
}
body table.presentProjects tr td, body table.presentProjects tr td .status {
	font-size: 12px;
}
table.presentProjects tr td {
	padding: 5px;
	text-align: center;
}
	
/** Layout **/
#container {
	text-align: left;
}

#header{}
#header #logo {
	color: #fff;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;
}
#header h1 a {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #ddd;
}
#header h1#logo {
	margin: 10px;
}

#container #header .login, #container #header .login a {
	font-size: 11px;
	color: #fff;
	text-align: right;
	float: right;
}
#container #header .login {
	width: 20%;
	padding-right: 5px;
}

#content-wrapper {
	width: 100%;
}
	#content-wrapper td {
		vertical-align: top;
	}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}
#footer span {
	font-size: 12px;
}
#footer a {
	color: white;
	font-weight: normal;
}


/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: auto;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: center;
	padding:4px;
	font-size: 70%;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
/*table tr td {
	background: #fff;
	padding: 6px;
	text-align: center;
	vertical-align: top;
	border-bottom:1px solid #ddd;
	font-size: 70%;
}*/
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 20em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 0;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 100%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 100%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 0.5%;
	width:200px;
}
select {
	clear: both;
	font-size: 100%;
	vertical-align: text-bottom;
	padding: 0.5% 0% 0.5% 0.5%;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 100%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 100%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
div.actions ul li a,
td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}
.loading { 
	background: url(/img/ajax-loader.gif) center no-repeat !important
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }