td.sidebar {
	background-color: #EEEEEE;
	width: 250px;
}

#sidebar {
	vertical-align: top;
	padding: 20px 0 20px 20px;
	text-align: top;
}
#sidebar a {
	display: block;
	padding: 0px 0px 5px 0px;
	font-size: 90%;
}

#sidebar label.titleLabel {
	padding: 5px;
	background-color: #dfdfdf;
	margin-top: 5px;
}

#sidebar label.statusLabel {
	display: inline;
	padding: 0.3px 2px 2px 2px;
	border-radius: 4px;
	font-size: 75%;
}
#sidebar label {
	font-size: 80%;
}
#sidebar .submenu {
	padding-left: 20px;
	background-color: #f7f7f7;
}
#sidebar .sidebarTitle {
	font-weight: bold;
	font-size: 110%;
}
#sidebar div {
	padding: 5px 0 0 0;
}
#sidebar div.filterDiv {
	padding: 0;
}
